.form-container {
    width: 20em;
    margin: 0 auto;
    border: 1px solid lightgray;
    padding: 1em;
    border-radius: 1em;
    margin-top: 2.5em;
}

.form-container button {
    margin: 0 auto;
}

.tab-container {
    margin: 0 auto;
    margin-top: 3em;
    width: 70vw;
 
}

.sizePriceForm {
    width: 22em;
}

.sizePriceForm input {
    width: 10em;
}

.sizePriceForm label {
    margin-top: .5em;
}

.table {
    max-height: 40em;
    overflow: auto;
}

.tableDelete {
    font-size: 1.2em;
    transition: all ease-in .15s;
}
.tableDelete:hover {
    color: red;
    cursor: pointer;
}

.modal_deletion {
    width: 100%;
    height: 8em;
}
.button_container {
    margin: 0 auto;
    width: fit-content;
  
}

.button_container button {
    margin-left: 1em;
    margin-right: 1em;
    width: 5em;
    display: inline-block !important;
}

.quote_header h2 {
   display: inline-block;
}

.csv_link {
    display: inline-block;
    margin-left: 1em;
    padding: 0 !important;
    margin-top: 0 !important;
    height: fit-content;
}




