
h1 {
    text-align: center;
}



.input-hidden {
    position: absolute;
    left: -9999px;
  }
  
  input[type=radio]:checked + .aLabel>img {
    border: 1px solid #fff;
    box-shadow: 0 0 1px 1px #090;
  }
  
  /* Stuff after this is only to make things more pretty */
  input[type=radio] + .aLabel>img {
    width: 25em;
    height: 15em;
    transition: 500ms all;
    margin-right: 1em;
    margin-left: 1em;
  }

  .paintImage:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 1px #090;
  }
 
  .imageSelection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto;
    margin-top: 3em;
  }

  .imageDesc {
    text-align: center;
    padding-bottom: .5em;
    margin: 0;
    font-size: 1.5em;
  }

  .divider {
    border-top: 5px solid #03C03C;
    border-bottom: 5px solid blue;
    width: 100%;
    margin-top: .5em;
  }


  
  .aLabel {
    padding: .5em;
    display: block;
    position: relative;
    margin: .5em;
    cursor: pointer;
  }
  
  .aLabel:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  .aLabel img {
    flex: 1 0 21%;

    width: 25em !important;
    max-height: 13em;
    height: auto;
    object-fit: cover;
    

  }

  @media only screen and (max-width: 500px) {
    .aLabel img {
      flex: 1 0 21%;
  
      width: 23em !important;
      max-height: 13em;
      height: auto;
      object-fit: cover;
      
  
    }
  }
  

  
  .paintSelect:checked + .aLabel:before {
    content: "✓";
    background-color: #03C03C;
    transform: scale(1);
  }
  
  :checked + .aLabel img {
    /* transform: scale(0.9); */
    box-shadow: 0 0 5px green;
    z-index: -1;
  }

  .btn-toolbar {
    width: auto !important;
    max-width: 10em;
    margin: 0 auto;
  }

  .btn {
    margin-bottom: 3em;
  }

  .form-group {
    margin-bottom: 1.5em !important;
  }

  .footer {
    width: 100%;
    display: block;
    height: 6em;
  
  }

  .load {
    display: block;
    margin: 0 auto;
  }

  .footer h3 {
    text-align: center;
  }

  h3 span {
    color: #03C03C;
  }

  form {
    transition: all ease-out 3s;
  }



