
h1 {
    text-align: center;
}



.input-hidden {
    position: absolute;
    left: -9999px;
  }
  
  input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 1px 1px #090;
  }
  
  /* Stuff after this is only to make things more pretty */
  input[type=radio] + label>img {
    width: 25em;
    height: 15em;
    transition: 500ms all;
    margin-right: 1em;
    margin-left: 1em;
  }

  .paintImage:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 1px #090;
  }
 
  .imageSelection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto;
    margin-top: 3em;
    border: 1px solid blue;
  }

  .imageDesc {
    text-align: center;
    padding-bottom: .5em;
    margin: 0;
    font-size: 1.5em;
  }

  .divider {
    border-top: 5px solid #03C03C;
    border-bottom: 5px solid blue;
    width: 100%;
    margin-top: .5em;
  }


  
  label {
    padding: .5em;
    display: block;
    position: relative;
    margin: .5em;
    cursor: pointer;
  }
  
  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label img {
    flex: 1 0 21%;

    max-width: 33em;
    max-height: 18em;
    /* min-width: 25em;
    min-height: 17em; */
    width: auto;
    height: auto;
    

  }
  

  
  :checked + label:before {
    content: "✓";
    background-color: #03C03C;
    transform: scale(1);
  }
  
  :checked + label img {
    /* transform: scale(0.9); */
    box-shadow: 0 0 5px green;
    z-index: -1;
  }
