.home {
    background-color: black;
    height: 100vh;
}



.homeContainer {
    background-color: white;
    height: 100%;
    width: 75vw !important;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .homeContainer {
        background-color: white;
        height: 100%;
        width: 90vw !important;
        margin: 0 auto;
    }

    .logoImage {
        width: 15em;
        margin: 0 auto;
        display: block;
    }
  }

.logoImage {
    width: 15em;
}

.banner {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid green;
   
    padding: 1em;
}

.banner p {
    font-size: 1.2em;
}



.btn {
    display: block !important;
    margin-top: 1em !important;
}


a {
    color: white !important;
    text-decoration: none !important;
}
